<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Python, 8:00 a.m. - noon</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td><a href="https://kekoziar.github.io/python-novice-inflammation/"  target="_blank">Building programs with Python</a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>11:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Other Data Science Week Workshops. Days 2-5, 9:00-11:00 a.m.</h3>
    <table class="table table-striped">
      <tr> <td>Feb. 25</td>  <td>Big Data & Visualization, presented by Ahmed Eldawy. <br> <a href="https://github.com/tinvukhac/asterixdb-demo" target="_blank">Asterixdb tutorial</a> presented by Tin Vu</td> </tr>
      <tr> <td>Feb. 26</td>  <td>Data Management & Data Mining, presented by Vagelis Papalexakis 
        (<a href="https://github.com/ucrlibrary/2020-02-24-ucr/blob/gh-pages/files/20200226_UCRDataScienceWeek_DataMining_Papalexakis.pdf" 
            target="_blank">slides</a>)</td> </tr>
      <tr> <td>Feb. 27</td>  <td>Deep Learning</td> </tr>
      <tr> <td>Feb. 28</td>  <td>Machine Learning</td> </tr>
      <tr> <td></td>  <td></td> </tr>
      <tr> <td>Feb. 28, 1:30-3:00pm</td>  <td>Career Panel</td> </tr>
    </table>
  </div>
</div>
